/* styles.css */
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

body {
    font-family: Gilroy-Bold, sans-serif;
    color: black;
    background-color: transparent;
}

.xslt-input {
    display: flex;
}

textarea {
    margin: 5px;
    background-color: rgba(0,0,0,1.0);
    border-radius: 4px;
    color: #fdc300;
    resize: none;
    height: 50vh;
    width: 50vw;

}

textarea::placeholder {
    font-size: 24pt;
}

.cm-content {
    border: solid 2px black;

}